/* global styles */

h5 {
  color: #fb4258;
}

p {
  margin: 0;
}

/* navigation */

nav span {
  color: #fb4258;
  font-weight: bolder;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* home */

.date-time {
  padding-bottom: 100px;
}

.home {
  align-items: center;
  background-attachment: fixed;
  background-color: #1b1b1b;
  background-image: url(img/pexels-duong-nhan-1529881-M.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 400px;
  position: relative;
  justify-content: center;
}

.box {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 70px 10px;
  position: relative;
}

.box::before {
  background-attachment: fixed;
  background-image: url(img/pexels-duong-nhan-1529881-M.jpg);
  background-size: cover;
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  filter: blur(5px);
}

.box span {
  color: #ee3248;
  font-weight: bolder;
}

.box h1,
h2 {
  position: relative;
  z-index: 2;
}

/* main */

main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-me-section {
  display: flex;
  flex-direction: column-reverse;
}

.about-me-text {
  text-align: justify;
  padding-top: 15px;
}

.about-me-img {
  margin: 0 auto;
}

.programming-joke {
  padding-top: 20px;
}

.exp-item,
.course-item,
.projects-item {
  display: flex;
}

.exp-text li,
.course-item li {
  list-style-type: square;
}

.skills-items {
  display: flex;
  padding-top: 15px;
  flex-wrap: wrap;
}

.skills-items div {
  color: #fb4258;
  border: 1px solid;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
}

.tools-tech-items {
  padding-top: 15px;
}

.tools-tech-icon {
  color: #fb4258;
  font-size: 30px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.projects-item {
  padding-top: 15px;
}

.projects-link {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  transition: all 0.5s;
}

.projects-link:hover {
  color: #fb4258;
}

.footer-icon {
  font-size: 25px;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.footer-icon-link {
  color: #252525;
  text-decoration: none;
  transition: all 0.5s;
}

.footer-icon-link:hover {
  color: #ee3248;
}

/* media queries */

@media (min-width: 374px) {
  .box {
    padding: 70px 20px;
  }
}

@media (min-width: 424px) {
  .box {
    padding: 70px 40px;
  }
}

@media (min-width: 767px) {
  .box {
    max-width: 680px;
    padding: 70px;
  }
}

@media (min-width: 767px) {
  .about-me-section {
    flex-direction: row;
  }

  .about-me-text {
    padding-right: 40px;
    padding-top: 0px;
  }
}
